* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /*background: rgb(255, 226, 218);*/
    background: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(66, 66, 66);
    font-family: 'Lobster Two', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 380px;
    background: #ffe6b3;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    font-size: 2em;
    margin: 10px;
    padding: 0.7em;
    width: 25%;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.2s;
}

td:hover {
    background-color: rgb(199, 199, 199);
}

.clear {
    border-bottom-left-radius: 25px;
}

input {
    padding: 16px 10px;
    width: 100%;
    border: 0;
    font-size: 2em;
    background-color: #333;
    color: #fff;
    text-align: right;
}

#userinp {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.op {
    background-color: rgb(70, 70, 70);
    border-radius: 100px;
    color: #eee;
}

.op:hover {
    background-color: #222;
}

.equal-btn {
    background-color: rgba(15, 153, 88, 0.836);
    border-radius: 30px;
    border-bottom-right-radius: 25px;
}

@media screen and (max-width: 400px) {
    .container {
        width: 350px;
    }
}